@import '~bootstrap/scss/bootstrap';

header,
footer,
main {
    color: orange;
    font-family: 'NEW LED DISPLAY ST', sans-serif;
}

th,
td {
    background-color: black !important;
    color: orange !important;
    font-size: 0.8rem;
}